PORT=3000
MONGODB_USER=
MONGODB_PASSWORD=
MONGODB_URL=
MONGODB_DB=


SMTP_PASSWORD=
SMTP_NAME=
SMTP_PORT=
SMTP_HOST=
SMTP_USER=
APP_DOMAIN=
JWT_SECRET=

SMTP_FROM=

CLOUD_NAME=
API_KEY=
API_SECRET=
JWT_SECRET=

ENABLE_CLOUDINARY=true
